<div class="resource-container">
  <!-- Multiple versions mode -->
  <ng-container *ngIf="hasMultipleVersions">
    <h2>Resource: {{ resourceId }}</h2>

    <!-- Version History -->
    <div class="versions-list">
      <h3>Version History</h3>
      <div *ngIf="versions$ | async as versions; else loadingVersions">
        <div *ngIf="versions.length > 0; else noVersions" class="versions-table">
          <table>
            <thead>
              <tr>
                <th>Version ID</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Default</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let version of versions" [class.default-version]="version['isdefault'] || version['isDefault']">
                <td>{{ version['id'] || version['versionid'] }}</td>
                <td>{{ (version['createdat'] || version['createdAt']) | date:'short' }}</td>
                <td>{{ (version['modifiedat'] || version['modifiedAt']) | date:'short' }}</td>
                <td><span *ngIf="version['isdefault'] || version['isDefault']" class="default-badge">✓</span></td>
                <td>
                  <a [routerLink]="['versions', version['id'] || version['versionid']]" class="btn-view">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noVersions>
          <p>No version history available.</p>
        </ng-template>
      </div>
      <ng-template #loadingVersions>
        <p>Loading versions...</p>
      </ng-template>
    </div>

    <div *ngIf="defaultVersion$ | async as defaultVersion" class="latest-version">
      <h3>Default Version: {{ defaultVersion.id }}</h3>
      <a [routerLink]="['versions', defaultVersion['versionid'] || defaultVersion['id']]" class="btn-view">View Version Details</a>

      <!-- Use our new shared component -->      <app-resource-document
        [resourceDocument]="defaultVersion"
        [resourceType]="resourceType"
        [resourceAttributes]="resourceAttributes"
        [hasDocumentSupport]="resourceTypeData?.hasdocument"
        [showAttributes]="true"
        [showDocument]="true"
        [initialExpanded]="true">
      </app-resource-document>
    </div>
  </ng-container>

  <!-- Single version mode -->
  <ng-container *ngIf="!hasMultipleVersions && (defaultVersion$ | async) as version">
    <h2>Resource: {{ resourceId }}</h2>
    <div class="version-detail">
      <h3>Version: {{ version.id }}</h3>

      <!-- Use our new shared component -->      <app-resource-document
        [resourceDocument]="version"
        [resourceType]="resourceType"
        [resourceAttributes]="resourceAttributes"
        [hasDocumentSupport]="resourceTypeData?.hasdocument"
        [showAttributes]="true"
        [showDocument]="true"
        [initialExpanded]="true">
      </app-resource-document>
    </div>
  </ng-container>

  <div *ngIf="loading" class="loading-container">
    <h2>Loading resource...</h2>
  </div>
</div>
