<fluent-divider role="separator"></fluent-divider>
<div class="footer-toolbar">
  <span>
    <a href="https://xregistry.io" target="_blank" rel="noopener noreferrer">
      xRegistry, a project of the Cloud Native Foundation
    </a>
  </span>
  <span class="spacer"></span>
  <span>APIs: </span>
  <ng-container *ngIf="capabilities$ | async as cap">
    <ng-container *ngFor="let api of cap.apis">
      <!-- Internal router links for specific API endpoints -->
      <a *ngIf="isInternalRoute(api)" [routerLink]="getInternalRoute(api)">{{ api }}</a>
      <!-- External links for other APIs -->
      <a *ngIf="!isInternalRoute(api)" [href]="getExternalApiUrl(api)" target="_blank">{{ api }}</a>
    </ng-container>
  </ng-container>
</div>
