<nav class="pagination-nav" *ngIf="links && (links.first || links.prev || links.next || links.last)">
  <div class="pagination-controls">
    <button
      type="button"
      class="pagination-btn pagination-btn-first"
      (click)="onRel('first')"      [disabled]="!links.first"
      title="First page">
      <app-icon name="chevron_double_left"></app-icon>
    </button>
    <button
      type="button"
      class="pagination-btn pagination-btn-prev"
      (click)="onRel('prev')"      [disabled]="!links.prev"
      title="Previous page">
      <app-icon name="chevron_left"></app-icon>
    </button>
    <button
      type="button"
      class="pagination-btn pagination-btn-next"
      (click)="onRel('next')"      [disabled]="!links.next"
      title="Next page">
      <app-icon name="chevron_right"></app-icon>
    </button>
    <button
      type="button"
      class="pagination-btn pagination-btn-last"
      (click)="onRel('last')"      [disabled]="!links.last"
      title="Last page">
      <app-icon name="chevron_double_right"></app-icon>
    </button>
  </div>
</nav>
