<nav class="pagination-nav" *ngIf="links && (links.first || links.prev || links.next || links.last)">
  <div class="pagination-controls">
    <button
      type="button"
      class="pagination-btn pagination-btn-first"
      (click)="onRel('first')"
      [disabled]="!links.first"
      title="First page">
      <i class="material-icons">first_page</i>
    </button>
    <button
      type="button"
      class="pagination-btn pagination-btn-prev"
      (click)="onRel('prev')"
      [disabled]="!links.prev"
      title="Previous page">
      <i class="material-icons">chevron_left</i>
    </button>
    <button
      type="button"
      class="pagination-btn pagination-btn-next"
      (click)="onRel('next')"
      [disabled]="!links.next"
      title="Next page">
      <i class="material-icons">chevron_right</i>
    </button>
    <button
      type="button"
      class="pagination-btn pagination-btn-last"
      (click)="onRel('last')"
      [disabled]="!links.last"
      title="Last page">
      <i class="material-icons">last_page</i>
    </button>
  </div>
</nav>
