<nav class="pagination-bar" *ngIf="links && (links.first || links.prev || links.next || links.last)">
  <ul class="pagination">
    <li [class.disabled]="!links.first">
      <button type="button" (click)="onRel('first')" [disabled]="!links.first">First</button>
    </li>
    <li [class.disabled]="!links.prev">
      <button type="button" (click)="onRel('prev')" [disabled]="!links.prev">Prev</button>
    </li>
    <li [class.disabled]="!links.next">
      <button type="button" (click)="onRel('next')" [disabled]="!links.next">Next</button>
    </li>
    <li [class.disabled]="!links.last">
      <button type="button" (click)="onRel('last')" [disabled]="!links.last">Last</button>
    </li>
  </ul>
</nav>
