<div class="page-container">
  <div class="page-header">
    <h2>Resources for {{ resourceType }} in {{ groupType }}/{{ groupId }}</h2>
  </div>
  <div class="page-content">
    <app-pagination *ngIf="pageLinks && (pageLinks.first || pageLinks.prev || pageLinks.next || pageLinks.last)" [links]="pageLinks" (pageChange)="onPageChange($event)"></app-pagination>
    <div *ngIf="!loading; else loadingTpl" [ngClass]="{'single-resource': resourcesList.length === 1}">
      <div class="grid-container">
        <div *ngFor="let res of resourcesList" class="grid-item" [ngClass]="{'single-item': resourcesList.length === 1}">
          <div class="resource-header">
            <h3>{{ res['name'] }}</h3>
             <a [routerLink]="[res['id']]" class="tile">
            View Details
          </a>
            <span *ngIf="res['versionsCount'] > 1" class="version-badge"
              [title]="res['versionsCount'] + ' versions available'">{{ res['versionsCount'] }}</span>
          </div> <!-- Use the shared resource document component -->
          <app-resource-document [resourceDocument]="res" [resourceType]="resourceType"
            [resourceAttributes]="resourceAttributes" [hasDocumentSupport]="resTypeHasDocument" [showAttributes]="true"
            [showDocument]="false" [initialExpanded]="false">
          </app-resource-document>
          <div style="margin-top: auto; margin-bottom: -5px;" class="resource-footer">

            <footer class="tile-footer">
              <small>
                <span>Created: {{ res['createdAt'] | date:'short' }}</span>&nbsp;|
                <span>Modified: {{ res['modifiedAt'] | date:'short' }}</span>
              </small>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingTpl>
      <div class="content-loading">
        <div class="loading-spinner"></div>
      </div>
    </ng-template>
  </div>
</div>
