<td class="no-wrap" [title]="getFullText(group?.name || group?.id)">
  <fluent-icon name="folder" class="group-icon-small"></fluent-icon>
  <a [routerLink]="getGroupNavigationRoute()">{{ truncateText(group?.name || group?.id) }}</a>
</td>
<td class="description-cell" [title]="getFullText(group?.description)">
  {{ truncateDescription(group?.description) }}
</td>
<td class="no-wrap" [title]="getFullText(group?.origin)">
  {{ truncateText(group?.origin) }}
</td>
<td class="no-wrap">
  <div *ngIf="resourceTypes && resourceTypes.length > 0" class="resource-types-compact">
    <ng-container *ngFor="let rt of resourceTypes; let last = last">
      <a [routerLink]="['/', groupType, group['id'], rt.name]" class="resource-link-small">
        {{ truncateText(rt.name, 15) }}
        <span *ngIf="rt.count !== undefined" class="resource-count-small">({{ rt.count }})</span>
      </a>
      <span *ngIf="!last" class="resource-separator">, </span>
    </ng-container>
  </div>
  <span *ngIf="!resourceTypes || resourceTypes.length === 0">-</span>
</td>
<td class="no-wrap" [title]="getFullText(formatDateShort(group?.['createdAt']))">
  {{ formatDateShort(group?.['createdAt']) }}
</td>
<td class="no-wrap" [title]="getFullText(formatDateShort(group?.['modifiedAt']))">
  {{ formatDateShort(group?.['modifiedAt']) }}
</td>
